/* Global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global font settings */
body {
  font-family: Arial, sans-serif;
  background-color: #7ba5d083;
  color: #333;
}

/* Global link styles */
a {
  text-decoration: none;
  color: #18293b;
}

a:hover {
  color: #0056b3;
}

/* Global heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-family: inherit;
}
